{% extends 'base.html' %}
{% load static %}
{% block title %} Welcome{% endblock %}
{%block content%}
<div class="breadcumb-area bg-img" style="background-image: url(/static/img/breadcrumb.jpg);">
    <div class="bradcumbContent">
        <h2 style="font-family: krinkes_decor_personal_useRg; color:#e2f109 ">Welcome To Our Institution</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

{% if speach %}
    {% for speach in speach %}
<section class="speach-area text-capitalize">
        <div class="container">
            <div class="row section-padding-100">
                <div>
                    <h1 class="text-center mt-100 mb-50 text-info"><u>welcome speach from the administration</u></h1>
                    <div class="circular-sb section-padding-100">
                        <img class="pic img-thumbnail rounded-circle" src={{speach.image.url}} style="width: 200px; height:200px">
                        <h2 class="mt-50 text-center"><span class="text-info">Title: </span>{{speach.title}}</h2>
                        <p class="text-center"><span class="text-info">Name: </span>{{speach.name}}</p>
                        <p>{{speach.description}}</p>
                        <p style="color:#dfa520" class="text-right">{{speach.date}}</p>
                    </div>
                </div>
            </div>
        </div>
</section>
    {% endfor %}
{% endif %} 
<div class="col-md-6">
    <div class="row">
        <div class="col-md-12">
            {% if speach.has_other_pages %}
            <ul class="pagination">
            {% if speach.has_previous %}
            <li class="page-item">
                <a href="?page={{speach.previous_page_number}} " class="page-link">&laquo;</a>
            </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
            {% endif %}
            {% for i in speach.paginator.page_range %}
                {% if speach.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if speach.has_other_pages %}
            <ul class="pagination">
            {% if speach.has_next %}
            <li class="page-item">
                <a href="?page={{speach.next_page_number}} " class="page-link">&raquo;</a>
            </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
            {% endif %}
            {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}