{% load static %}
<!-- ##### Footer Area Start ##### -->
<footer class="footer-area mx-auto">
    <div class="main-footer-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title" style="font-family: krinkes_regular_personal_usRg">
                            <a style="font-size: 25px; color:black"><img src="{% static 'img/logo2.png' %}" alt="FAITH BILINGUAL COMPLEX"></a>
                        </div>
                        <p class="text-uppercase text-black">follow us on social media to get the most of our 
                        awesome institution, be the first to join us in campose.  remember education is at your door step.</p>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6 class="text-muted font-italic" style="font-size: 17px; font-weight:bold">Usefull Links</h6>
                        </div>
                        <nav>
                            <ul class="useful-links">
                                <li><a href="{% url 'index' %}"><h6 class="text-bold" style="font-size: 10px">Home</h6></a></li>
                                <li><a href="{%url 'contact'%}"><h6 class="text-bold" style="font-size: 10px">Contact Us</h6></a></li>       
                                <li><a href="{% url 'career' %}"><h6 class="text-bold" style="font-size: 10px">Carriers</h6></a></li>
                                <li><a href="{%url 'blog_post' %}"><h6 class="text-bold" style="font-size: 10px">Blog</h6></a></li> 
                                <li><a href="{%url 'rules'%}"><h6 class="text-bold" style="font-size: 10px">Rules/Regulations</h6></a></li>
                                <li><a href="{% url 'conditions' %}"><h6 class="text-bold" style="font-size: 10px">Terms & Usage Conditions</h6></a></li>                                            
                            </ul>
                        </nav>
                    </div>
                </div>
                
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6 class="font-italic text-muted" style="font-size: 17px; font-weight:bold">Info-Line</h6>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="fas fa-map-marker"></i>
                            <p class="text-black">Douala-Youpwe, LITTORAL REGION, CM</p>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="icon-telephone-3"></i>
                            <p class="text-black">Main: (+237) 676415685 <br>Office:(+237) 697448628</p>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="icon-contract"></i>
                            <p class="text-black">faithbilingual@yahoo.com</p>
                        </div>
                    </div>
                </div>
                <div class="footer-social-info col-12 col-sm-6 col-lg-3">
                    <h6 class="font-italic text-muted" style="font-size: 17px; font-weight:bold">Social Media Links</h6>
                        <br>
                        <br>
                        <a href="https://web.facebook.com/Faith-Bilingual-Complex-543932259471665"><i class="fa fa-facebook fa-2x text-primary"></i></a>
                        &nbsp; &nbsp;
                        <a href="https://twitter.com/complex_faith"><i class="fa fa-twitter fa-2x text-info"></i></a>  
                        &nbsp; &nbsp;                          
                        <a href="#"><i class="fa fa-instagram fa-2x text-danger"></i></a>
                        &nbsp; &nbsp;
                        <a href="#"><i class="fa fa-whatsapp fa-2x text-success"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                <p>
                   For More-info  |  faithbilingual@yahoo.com
                </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->