{% extends 'base.html' %}
{% load static %}
{% block title %} Tuition Fee And Book-list{% endblock %}

{% block content %}
<div class="col-12 col-md-12 text-capitalize">
    <div class="container">
        <div class="row">
    {% if flyer_list %}
        {% for flyer in flyer_list %}
            <div class="section-padding-100 mt-100 mb-100">
                <h3 class="text-info text-center"><u>Our Tuition Fee By Class And By Sub-system with book lists for each class</u></h3>
                <img src={{flyer.doc.url}} class="img-thumbnail mt-50">
                <h4 style="font-size: 20px; color: #DFA520;"><u>{{flyer.name}}</u></h4>
                <br>
                <a href="/media/{{flyer.doc}}" class="btn academy-btn btn-sm" download>
                  <img scr="/media/{{flyer.doc}}" alt="Download"></a>
                <p class="text-black">{{flyer.description}}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12">
            <p class="text-black mt-100 mb-100 font-weight-bold" style="font-size: 60px;">No Info Available</p>
        </div>
    {% endif %}
                <div class="row">
                    <div class="col-md-12">
                      {% if page_obj.has_other_pages %}
                      <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                          <a href="?page={{page_obj.previous_page_number}} " class="page-link">&laquo;</a>
                        </li>
                        {% else %}
                            <li class="page-item disabled">
                              <a class="page-link">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active">
                                  <a class="page-link">{{i}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                  <a href="?page={{i}}" class="page-link">{{i}}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                      {% if page_obj.has_other_pages %}
                      <ul class="pagination">
                        {% if page_obj.has_next %}
                        <li class="page-item">
                          <a href="?page={{page_obj.next_page_number}} " class="page-link">&raquo;</a>
                        </li>
                        {% else %}
                            <li class="page-item disabled">
                              <a class="page-link">&raquo;</a>
                            </li>
                        {% endif %}
                      {% endif %}
                      </ul>
                      {% endif %}
                    </div>
                </div>
            </div>

    </div>
</div>
{% endblock %}