{% extends 'base.html' %}

{% load static %}
{% block title%} HOME{% endblock %}
{% block content %}
<script>
    alert("WELCOME TO FABICO")
</script>
<!-- ##### Hero Area Start ##### -->
<section class="hero-area text-uppercase font-italic">
        <div class="hero-slides owl-carousel">
    
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(static/img/bg-1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 data-animation="fadeInUp" data-delay="100ms" style="font-family:krinkes_regular_personal_usRg; color:rgb(255, 246, 246);">Education At Your Door Step</h4>
                                <h2 data-animation="fadeInUp" class="text-info" data-delay="400ms">Welcome To <br>Faith Bilingual Complex</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img " style="background-image: url(static/img/bg-0.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 data-animation="fadeInUp" data-delay="100ms" style="font-family:krinkes_regular_personal_usRg; color:rgb(255, 255, 255);">Your Success | Our Goal</h4>
                                <h2 data-animation="fadeInUp" data-delay="400ms" style="color:#0c2d3b">We: <br>Teach | Mold & Train Leaders Of Tomorrow</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(static/img/bg-2.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 data-animation="fadeInUp" data-delay="100ms" style="font-family:krinkes_regular_personal_usRg; color:rgb(255, 250, 250);">Come Let's Archive Our Dreams Together</h4>
                                <h2 data-animation="fadeInUp" style="color: rgb(28, 230, 186)" data-delay="400ms">For We Are: <br>The Leaders Of Tomorrow</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->
    
    <!-- ##### Course Area Start ##### -->
    <div class="academy-courses-area section-padding-100-0 bg-secondary">
        <div class="container text-center">
            <h1 class="text-center justify-content-center" style="font-family: krinkes_decor_personal_useRg; color:#000000"><u>General And Commercial Education</u></h1>    
        </div>
            <br>
            <br>
        <div class="container">
            <div class="row">
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div class="course-icon">
                            <i class="fas fa-calculator"></i>
                        </div>
                        <div class="course-content">
                            <a href="#"><h4>Commercial Department</h4></a>
                            <p class="text-capitalize">We operate a complete Commercial section with All neccessary commercial subjects.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <div class="course-icon">
                            <i class="fas fa-microscope"></i>
                        </div>
                        <div class="course-content">
                            <a href="#"><h4>Science Department</h4></a>
                            <p class="text-capitalize">the basics of anyother subject is Language be it french, english, german etc we treat all of the an our students are amongst the best.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="course-icon">
                            <i class="fas fa-map"></i>
                        </div>
                        <div class="course-content">
                            <a href="#"><h4>Arts Department</h4></a>
                            <p class="text-capitalize">Physical education is part and pacel of the cameroon educational system so, we engage our students in all sorts of sport activities.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <div class="course-icon">
                            <i class="fas fa-desktop"></i>
                        </div>
                        <div class="course-content">
                            <a href="#"><h4>IT Department</h4></a>
                            <p class="text-capitalize">with the fast advancing world of technology, we train our students on the basics of a pc system.
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <div class="course-icon">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <div class="course-content">
                            <a href="#"><h4>French Subsystem</h4></a>
                            <p class="text-capitalize">choosing a suitable job after education needs Orientation. this we do practicaly daily and also on students oriention week. set by the state.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="800ms">
                        <div class="course-icon">
                            <i class="fas fa-paint-brush"></i>
                        </div>
                        <div class="course-content">
                            <a href="#"><h4>Arts & Culture</h4></a>
                            <p>Cras vitae turpis lacinia, lacinia la cus non, fermentum nisi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Course Area End ##### --> 
    
    <!-- ##### Testimonials Area Start ##### -->
    <div class="testimonials-area section-padding-100 bg-overlay bg-img" style="background-image: url(static/img/bg-3.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto white wow fadeInUp" data-wow-delay="300ms">
                        <h2 style="font-family:krinkes_decor_personal_useRg; color:grey;">Comments</h2>
                    </div>
                </div>
            </div>
                <div class="row">
                  {% for comment in pages %}
                  <div class="col-12 col-md-6">
                      <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="400ms">
                          <div class="testimonial-thumb">
                              <img src={{comment.image.url}} class="img-thumbnail" style="height: 994; width:1080;" alt="IMG">
                          </div>
                          <div class="testimonial-content">
                              <h5 style="font-family:krinkes_regular_personal_usRg; color:rgb(156, 156, 23)">{{comment.title}}</h5>
                              <p class="text-black">{{comment.comment | linebreaks}}</p>
                              <h6><span style="font-family:krinkes_regular_personal_usRg;">{{comment.name}},</span> {{comment.status}}</h6>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
        <!-- Pagination area start -->
             
        <div class="container">
            <div class="col-6">
              {% if pages.has_other_pages %}
              <ul class="pagination">
                {% if pages.has_previous %}
                <li class="page-item">
                  <a href="?page={{pages.previous_page_number}} " class="page-link">&laquo;</a>
                </li>
                {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">&laquo;</a>
                    </li>
                {% endif %}
                {% for i in pages.paginator.page_range %}
                    {% if pages.number == i %}
                        <li class="page-item active">
                          <a class="page-link">{{i}}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                          <a href="?page={{i}}" class="page-link">{{i}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
              {% if pages.has_other_pages %}
              <ul class="pagination">
                {% if pages.has_next %}
                <li class="page-item">
                  <a href="?page={{pages.next_page_number}} " class="page-link">&raquo;</a>
                </li>
                {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">&raquo;</a>
                    </li>
                {% endif %}
              {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>
    <!-- Pagination area end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ##### Testimonials Area End ##### -->
    
    <section class="contact-area section-padding-50 bg-img" style="background-image: url(/static/img/bg-about9.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-content bg-transparent">
                            <div class="row">
                                <!-- Contact Information -->
                                <div class="col-12 col-lg-5">
                                    <div class="contact-information wow fadeInUp" data-wow-delay="400ms">
                                        <div class="section-heading text-left">
                                            <h4 class="text-muted">Leave A Comment</h4>
                                            <p class="mt-30 text-capitalize text-black"> This is the comment section for fabico. leave 
                                                us a comment, remark, opinion or tell us 
                                             what you think about our institution. you can also contact us directly 
                                             using the Information below to help us serve you better. stay Blessed as you study in our institution.
                                            </p>
    
                                            <u><h5 class="text-uppercase text-danger mt-50">warning</h5></u>
                                            <p class="text-capitalize text-black">No Complains should be posted as comment. for any worries you have, contact us via our email, 
                                            contact section of this website or use any of the phone numbers available here.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- comment Form Area -->
                                <div class="col-12 col-lg-7">
                                        {% include 'partials/_alerts.html' %}
                                    <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                                        <form method="POST" enctype="multipart/form-data">
                                            {%csrf_token%}
                                            {%if user.is_authenticated%}
                                            <input type="hidden" name="user_id" value="{{user.id}}">
                                            {% else %}
                                            <input type="hidden" name="user_id" value="0">
                                            {%endif%} 
                                            <input type="text" class="form-control" {% if user.is_authenticated %}
                                            value="{{user.first_name}} {{user.last_name}} " {% endif %} name="name"
                                            id="name" placeholder="Name" required>
                                            <input type="text" class="form-control" name="title" id="title" placeholder="What's The Object Of Your Comment" required>
                                            <input type="text" class="form-control" name="status" id="status" placeholder="What Is Your Role In Fabico" required>
                                            <textarea name="comment"  class="form-control" cols="30" rows="10"
                                            placeholder="Comment" required></textarea>
                                            <input type="file" name="image" accept=".jpg, .jpeg, .png" id="image" style="font-size: 10px;" aria-required="false" required>
                                            {% if user.is_authenticated %} <button class="btn academy-btn mt-30" value={{submit}} type="submit">POST</button>
                                            {% else %}
                                                <div class="col-md-12 col-lg-7 mx-auto text-center">
                                                    <h1 style="font-family: krinkes_regular_personal_usRg; font-size:20px" class="text-capitalize text-black">
                                                    login to post a comment
                                                    </h1>
                                                    <p><a href="#" class="text-info text-uppercase">Login</a></p>
                                                    <p style="font-size:16px; color:#e2f109;" >Don't have an account?</p>
                                                    <p><a href="#" class="text-info text-uppercase">Register</a></p>
                                                </div>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
        
    
    <!-- ##### Partner Area Start ##### -->
    <div class="partner-area section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners-logo d-flex align-items-center justify-content-between flex-wrap">
                    <a href="https://internexus.edu/"><img src="{% static 'img/partner-1.png' %}" alt=""></a>
                    <a href="https://www.gtiinvestments.com/"><img src="{% static 'img/partner-2.png' %}" alt=""></a>
                    <a href="http://www.unicsgroup.com/"><img src="{% static 'img/partner-3.png' %}" alt=""></a>
                    <a href="http://creditpopulairecm.com/"><img src="{% static 'img/partner-4.jpg' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- ##### Partner Area End ##### --> 
  
{% endblock %} 