{%extends 'base.html' %}
{% load static %}
{% block content %}

    {%block title%} Photo Gallery{%endblock%}
    
    <div class="breadcumb-area bg-img" style="background-image: url(/static/img/breadcrumb.jpg);">
      <div class="bradcumbContent">
          <h2 class="font-italic" style="font-family: krinkes_decor_personal_useRg; color:#e2f109;">Photo Gallery</h2>
      </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
      <body>
 

  <div class="site-wrap text-capitalize" style="margin-top: 100px;">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3"> 
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    

  <div class="container-fluid" data-aos="fade" data-aos-delay="500">
    <div class="swiper-container images-carousel">
        <div class="swiper-wrapper"> 
{% for gallery in gallery_list %}
            <div class="swiper-slide">
              <div class="image-wrap">
                <div class="image-info">
                  <h2 class="mb-3" style="font-family: krinkes_regular_personal_usRg; color:rgb(105, 102, 94)">{{gallery.title}}</h2>
                  <a href="{{gallery.url_album}}" class="btn btn-outline-white py-2 px-4 bg-info" style="font-family: krinkes_regular_personal_usRg; color:#e2f109">More Photos</a>
                </div>
                <img src="{{gallery.image.url}}" alt="Image" style="width:700px;height:670px; rotate: 90" >
              </div>
            </div>
{% endfor %}
        </div>
    <div class="pagination">

    </div>
    </div>
  </div> 

  <div class="footer py-4">
    <div class="container-fluid">
      <h1 style="font-family:krinkes_regular_personal_usRg;">
       Spread The News<span style="font-family: Georgia, 'Times New Roman', Times, serif; color:rgb(29, 142, 170)">|</span>FABICO
      </h1>
    </div>
  </div>
</div>
{%endblock%}