{% extends 'base.html' %}
{% load static %}

{% block content %}

{%block title%}  English Language{% endblock %}
<br>
<!-- ##### Top Popular Courses Area Start ##### -->
<div class="top-popular-courses-area mt-50 text-capitalize">
            <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                                <h1 style="font-family: krinkes_decor_personal_useRg "><u>{{detail.subject}}</u></h1>
                                <h3>{{detail.period_tought}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
            
                        <!-- Single Top Popular Course -->
                        <div class="col-12">
                            <div class="d-flex align-items-center flex-wrap mb-50 wow fadeInUp bg-img"  data-wow-delay="400ms">
                                <div class="popular-course-content">
                                    <span><span class="font-bold" style="font-size: 20px">Published By; {{detail.author_title}} :</span> {{detail.author}}   |  {{detail.date_published}} </span>
                                    <div class="course-ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <br>
                                    <p style="font-size:40px" class="text-black"><u>{{detail.sub_topic}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{detail.description | linebreaks}}</h6></p>
                                    {% if detail.downloadable %}
                                    <a href="/media/{{detail.downloadable}}" class="btn academy-btn btn-sm" download>
                                        <img scr="/media/{{detail.downloadable}}" alt="Download">
                                    </a>
                                    {% else %}
                                    <P class="text-danger" style="font-weight: 900;">No Downloads Available Yet Form The Publisher</P>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                </div>
            </div>
{% endblock %}