{%extends 'base.html' %}
{% load static %}
{% block content %}

    {%block title%} Photo Gallery{%endblock%}
    
    <div class="breadcumb-area bg-img" style="background-image: url(/static/img/breadcrumb.jpg);">
      <div class="bradcumbContent">
          <h2 class="font-italic" style="font-family: krinkes_decor_personal_useRg; color:#e2f109;">Photo Gallery</h2>
      </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
      <body>
 
<br>
<br>
<br>
<br>
<br>
<br>

  <div class="site-wrap text-capitalize">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    

  <div class="container-fluid" data-aos="fade" data-aos-delay="500">
    <div class="swiper-container images-carousel">
        <div class="swiper-wrapper"> 
            <div class="swiper-slide">
              <div class="image-wrap">
                <div class="image-info">
                  <h2 class="mb-3" style="font-family: krinkes_regular_personal_usRg; color:rgb(105, 102, 94)">Cultural Activities</h2>
                  <a href="{% url 'gallery_1' %} " class="btn btn-outline-white py-2 px-4 bg-info" style="font-family: krinkes_regular_personal_usRg; color:#e2f109">More Photos</a>
                </div>
                <img src="{% static 'img/bg-about11.jpg' %}" alt="Image" style="width:700px;height:670px; rotate: 90" >
              </div>
            </div>
            <div class="swiper-slide">
              <div class="image-wrap">
                <div class="image-info">
                  <h2 class="mb-3" style="font-family: krinkes_regular_personal_usRg;  color:rgb(105, 102, 94)">Youth Week Celebrations</h2>
                  <a href="{% url 'gallery_2' %}" class="btn btn-outline-white py-2 px-4 bg-info" style="font-family: krinkes_regular_personal_usRg; color:#e2f109">More Photos</a>
                </div>
                <img src="{% static 'img/bg-about8.jpg' %} " alt="Image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="image-wrap">
                <div class="image-info">
                  <h2 class="mb-3" style="font-family: krinkes_regular_personal_usRg;  color:rgb(105, 102, 94)">Sports Activities</h2>
                  <a href="{% url 'gallery_3' %}" class="btn btn-outline-white py-2 px-4 bg-info" style="font-family: krinkes_regular_personal_usRg; color:#e2f109">More Photos</a>
                </div>
                <img src="{% static 'img/bg-about6.jpg' %}" alt="Image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="image-wrap">
                <div class="image-info">
                  <h2 class="mb-3" style="font-family: krinkes_regular_personal_usRg;  color:rgb(105, 102, 94)">Classes</h2>
                  <a href="{% url 'gallery_4' %}" class="btn btn-outline-white py-2 px-4 bg-info" style="font-family: krinkes_regular_personal_usRg; color:#e2f109">More Photos</a>
                </div>
                <img src="{% static 'img/viceprincipal.jpg'%}" alt="Image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="image-wrap">
                <div class="image-info">
                  <h2 class="mb-3" style="font-family: krinkes_regular_personal_usRg;  color:rgb(105, 102, 94)">Outstanding Students</h2>
                  <a href="{% url 'gallery_5' %}" class="btn btn-outline-white py-2 px-4 bg-info" style="font-family: krinkes_regular_personal_usRg; color:#e2f109">More Photos</a>
                </div>
                <img src="{% static 'img/outstanding.jpg' %}" alt="Image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="image-wrap">
                <div class="image-info">
                  <h2 class="mb-3" style="font-family: krinkes_regular_personal_usRg;  color:rgb(105, 102, 94)">Teaching staff</h2>
                  <a href="{% url 'gallery_6' %}" class="btn btn-outline-white py-2 px-4 bg-info" style="font-family: krinkes_regular_personal_usRg; color:#e2f109">More Photos</a>
                </div>
                <img src="{% static 'img/bg-8.jpg'%}" alt="Image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="image-wrap">
                <div class="image-info">
                  <h2 class="mb-3" style="font-family: krinkes_regular_personal_usRg;  color:rgb(105, 102, 94)">Administrative Board</h2>
                  <a href="{% url 'gallery_7' %}" class="btn btn-outline-white py-2 px-4 bg-info" style="font-family: krinkes_regular_personal_usRg; color:#e2f109">More Photos</a>
                </div>
                <img src="{% static 'img/visionbearer.jpg' %}" alt="Image">
              </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
    </div>
  </div> 

  <div class="footer py-4">
    <div class="container-fluid">
      <h1 style="font-family:krinkes_regular_personal_usRg;">
       Spread The Love<span style="font-family: Georgia, 'Times New Roman', Times, serif; color:rgb(29, 142, 170)">|</span>FABICO
      </h1>
    </div>
  </div>
</div>
{%endblock%}