{% extends 'base.html' %}
{% load static %}
{% block content %}

{%block title%}  Physics{% endblock %}
<br>
<!-- ##### Top Popular Courses Area Start ##### -->
<div class="top-popular-courses-area mt-50">
    {% if physics %}
        {% for physics in physics %}

            <div class="container text-capitalize">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                                <h1 style="font-family: krinkes_decor_personal_useRg "><u>{{physics.subject}}</u></h1>
                                <h3>{{physics.subject_program_and_year}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
            
                        <!-- Single Top Popular Course -->
                        <div class="col-12">
                            <div class="d-flex align-items-center flex-wrap mb-50 wow fadeInUp bg-img"  data-wow-delay="400ms">
                                <div class="popular-course-content">
                                    <span><span class="font-bold" style="font-size: 20px">Published By; {{physics.publisher_title}} :</span> {{physics.publisher_name}}   |  {{physics.date_published}} </span>
                                    <div class="course-ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <br>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_1}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_1}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_2}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_2}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_3}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_3}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_4}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_4}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_5}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_5}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_6}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_6}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_7}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_7}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_8}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_8}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_9}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_9}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_10}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_10}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_11}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_11}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_12}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_12}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_13}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_13}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_14}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_14}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_15}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_15}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_16}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_16}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_17}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_17}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_18}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_18}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_19}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_19}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_20}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_20}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_21}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_21}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_22}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_22}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_23}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_23}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_24}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_24}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_25}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_25}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_26}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_26}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_27}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_27}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_28}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_28}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_29}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_29}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_30}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_30}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_31}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_31}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_32}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_32}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_33}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_33}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_34}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_34}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_35}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_35}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_36}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_36}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_37}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_37}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_38}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_38}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_39}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_39}}</h6></p>
                                    <p style="font-size:40px" class="text-black"><u>{{physics.subject_sub_topic_40}}</u><h6 class="ml-50 font-size:10px font-weight-light">{{physics.subject_paragraph_40}}</h6></p>
                                    <a href="/media/{{physics.downloadable_file_1}}" class="btn academy-btn btn-sm" download>
                                        <img scr="/media/{{physics.downloadable_file_1}}" alt="Download">
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        {%endfor%}
    {% else %}
        <div class="col-md-12">
            <p class="text-black mt-100 mb-100 font-weight-bold" style="font-size: 60px;">No Info Available</p>
        </div>
    {% endif %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
              {% if physics.has_other_pages %}
              <ul class="pagination">
                {% if physics.has_previous %}
                <li class="page-item">
                  <a href="?page={{physics.previous_page_number}} " class="page-link">&laquo;</a>
                </li>
                {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">&laquo;</a>
                    </li>
                {% endif %}
                {% for i in physics.paginator.page_range %}
                    {% if physics.number == i %}
                        <li class="page-item active">
                          <a class="page-link">{{i}}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                          <a href="?page={{i}}" class="page-link">{{i}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
              {% if physics.has_other_pages %}
              <ul class="pagination">
                {% if physics.has_next %}
                <li class="page-item">
                  <a href="?page={{physics.next_page_number}} " class="page-link">&raquo;</a>
                </li>
                {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">&raquo;</a>
                    </li>
                {% endif %}
              {% endif %}
              </ul>
              {% endif %}
            </div>
        </div>
    </div>
{% endblock %}